<html ng-app="myApp" id="myApp">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Test</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="./main.js"></script>
    </head>

    <header>
        <h1>Formulario de datos</h1>
    </header>

    <body ng-controller="myController">
     {{msg}}
           <a href="javascript:;" id="lbtnTest"> Llamar </a>
           <form>
               {{todos}}
                <div class="form-group">
                    <label for="valor">Nombres</label><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Inserte los nombres" id="nombres" ng-model="formData.nombres"><br>
                    <label for="valor">Apellidos</label><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Inserta los apellidos" ng-model="formData.apellidos"><br>
                    <label for="valor">Correo</label><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Inserta el correo" ng-model="formData.correo"><br>
                    <label for="valor">Celular</label><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Inserta el celular" ng-model="formData.celular"><br>
                    <label for="valor">Clave</label><br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Inserta la clave" ng-model="formData.clave"><br>
                </div>
            <button class="btn btn-primary btn-lg" ng-click="createTodo()">Agregar</button>
        </form>
    </body>


</html>

  
